<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogToConsole="true"
     >
  <extensions>
    <add assembly="StatisticServer"/>
  </extensions>

  <targets>

    <target name="ColoredConsole" xsi:type="ColoredConsole"/>
    
    <target name="JsonFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.json">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}"/>
        
        <attribute name="logger" layout="${logger}"/>
        <attribute name="callsite" layout="${callsite}"/>
        <attribute name="exception" encode="false" layout="${json-renderer:RenderException=True}"/>
        <attribute name="attachments" encode="false" layout="${json-renderer:RenderParameters=True}"/>
      </layout>
    </target>

    <target name="RawLogs" xsi:type="File" fileName="${basedir}/logs/${shortdate}-http.log">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}"/>

        <attribute name="logger" layout="${logger}"/>
        <attribute name="callsite" layout="${callsite}"/>
        <attribute name="exception" encode="false" layout="${json-renderer:RenderException=True}"/>
        <attribute name="attachments" encode="false" layout="${json-renderer:RenderParameters=True}"/>
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="*" writeTo="JsonFile">
      <filters>
        <when condition="equals('${logger}', 'System.Net.HttpListener') and level &lt; LogLevel.Warn" action="Ignore"/>
      </filters>
    </logger>
    <logger name="*" writeTo="ColoredConsole">
      <filters>
        <when condition="equals('${logger}', 'System.Net.HttpListener') and level &lt; LogLevel.Warn" action="Ignore"/>
      </filters>
    </logger>
    <logger name="*" writeTo="RawLogs"/>
  </rules>
</nlog>
